<mat-toolbar class="mat-elevation-z8">
    <div class="container-toolbar">
        <div class="title-toolbar-app">
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
            <div class="container-logo">
                <img class="logo-app" src="./assets/images/dmswhite.png" alt="Logo Empresa">
            </div>
        </div>
        <div class="buttons-toolbar">

            <div class="example-button-container">
                <button matTooltip="Mensaje tooltip" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                  </button>
            </div>
            <div class="example-button-container">
                <button matTooltip="Mensaje tooltip" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>plus_one</mat-icon>
                  </button>
            </div>
            <div class="example-button-container">
                <button matTooltip="Mensaje tooltip" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>filter_list</mat-icon>
                  </button>
            </div>
            <div class="example-button-container">
                <button matTooltip="Mensaje tooltip" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>home</mat-icon>
                  </button>
            </div>
        </div>
    </div>


</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer #sidenav="matSidenav" class="sidenav sidenav-dms mat-elevation-z8">
        <div class="container-nav">
            <div class="header-nav">
                <img class="avatar mat-elevation-z8" src="./assets/images/technical-support.png" />

                <h4 class="name">Sara Gomez</h4>
                <p class="designation">Software Engineer Frontend Developer</p>
                <p class="designation">Taller de los Alamos Norte B - Taller de los Alamos Norte B XYZANs </p>


            </div>

            <div class="main-nav">
                <mat-nav-list class="nav-dms">
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>

                    <mat-accordion class="app-nav-accordion">
                        <mat-expansion-panel class="mat-elevation-z0 dms-exp-header">
                            <mat-expansion-panel-header class="exp-header-dms">
                                <mat-panel-title>
                                    <mat-icon class="mat-icon-dms">sort</mat-icon>Submenu</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a class="item-menu-dms exp-item" mat-list-item href="#" routerLink="/categorias" (click)="closeSideNav()">
                                    <mat-icon class="mat-icon-dms">category</mat-icon>Categorias</a>
                                <a class="item-menu-dms exp-item" mat-list-item href="#" routerLink="/producto" (click)="closeSideNav()">
                                    <mat-icon class="mat-icon-dms">sell</mat-icon>Producto</a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <a class="item-menu-dms simple-item" mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                        <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>

                    <mat-accordion class="app-nav-accordion">
                        <mat-expansion-panel class="mat-elevation-z0 dms-exp-header">
                            <mat-expansion-panel-header class="exp-header-dms">
                                <mat-panel-title>
                                    <mat-icon class="mat-icon-dms">sort</mat-icon>Submenu</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a class="item-menu-dms exp-item" mat-list-item href="#" routerLink="/categorias" (click)="closeSideNav()">
                                    <mat-icon class="mat-icon-dms">category</mat-icon>Categorias</a>
                                <a class="item-menu-dms exp-item" mat-list-item href="#" routerLink="/producto" (click)="closeSideNav()">
                                    <mat-icon class="mat-icon-dms">sell</mat-icon>Producto</a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-nav-list>

                <mat-divider></mat-divider>
                <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
            </div>


            <div class="footer-nav">
                <p class="foot-text">Software Engineer Frontend Developer</p>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>