<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button> App side navigation
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer #sidenav="matSidenav" class="sidenav sidenav-dms mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="./assets/images/technical-support.png" />

        <h4 class="name">Sara Gomez</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <mat-nav-list class="nav-dms">
            <a mat-list-item href="#" routerLink="/home" (click)="closeSideNav()">
                <mat-icon class="mat-icon-dms">home</mat-icon>Inicio</a>

            <mat-accordion class="app-nav-accordion">
                <mat-expansion-panel class="mat-elevation-z0 dms-exp-header">
                    <mat-expansion-panel-header class="exp-header-dms">
                        <mat-panel-title>
                            <mat-icon class="mat-icon-dms">sort</mat-icon>Submenu</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item href="#" routerLink="/categorias" (click)="closeSideNav()">
                            <mat-icon class="mat-icon-dms">category</mat-icon>Categorias</a>
                        <a mat-list-item href="#" routerLink="/producto" (click)="closeSideNav()">
                            <mat-icon class="mat-icon-dms">sell</mat-icon>Producto</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>